:root {
  --c-white: #ffffff;
  --c-darkgrey: #333333;

  --c-background: var(--c-white);
  --c-text: var(--c-darkgrey);
}
/* TODO Dark mode theming
@media (prefers-color-scheme: dark) {
  :root {
    --c-background: var(--c-darkgrey);
    --c-text: var(--c-white);
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--c-text);
  background: var(--c-background);
  font-family: "Helvetica Neue", sans-serif;
}
