@import "./base.css";

#app {
  max-width: 1024px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

/* Helpers */
.center-align-cell {
  text-align: center;
}

.empty-table {
  padding: 1em;
}
